<nav>
    <div class="nav-wrapper grey darken-4 row">
        <div class="col s1 offset-s1 right-align">
            <img src="https://i.ibb.co/ZTKVZ9y/logo.png" width="50px" style="margin-top: 5px;"/>
        </div>
        <a href="#" class="brand-logo col s2 hide-on-med-and-down">Nutflix</a>
        <ul id="nav-mobile" class="right hide-on-small">
            <li><a href="/search">Back to Search</a></li>
            <li><a onclick="logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<div id="player">
    <iframe 
        src="<%= `https://www.youtube.com/embed/${slug}` %>" 
        width="889"
        height="500"
        frameborder="0"
    >
    </iframe>
</div>

<div class="row white-text">
    <h2 class="col s8 offset-s2" id="title"></h2>
</div>

<div class="row white-text">
    <div class="col s2 offset-s2">
        <h5 id="channel"></h5>
    </div>
    <div class="col s3 offset-s2 right-align grey-text">
        <h5 id="published"></h5>
    </div>
</div>

<div class="row white-text">
    <div class="col s8 offset-s2 truncate" id="description"></div>
</div>

<div id="warning-container" class="row scale-transition scale-out" style="position: fixed; bottom: 0; width: 100vw;">
    <div id="warning" class="col s8 offset-s2 teal lighten-2 white-text" style="height: 50px; line-height:50px; font-size: 1.4rem">Hello</div>
</div>

<script>

    function parseDate(dateString) {
        let month = ["Januray", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
        let date = new Date(dateString)
        s = ""
        s += date.getDate() + " " + month[date.getMonth()] + " " + date.getFullYear();
        return s
    }

    function renderContent(content) {
        let title = document.getElementById('title')
        title.innerText = content.title
        let channel = document.getElementById('channel')
        channel.innerText = content.channelTitle
        let description = document.getElementById('description')
        description.innerText = content.description
        let published = document.getElementById('published')
        published.innerText = parseDate(content.publishedAt)
    }

    function giveAlert(msg) {
        let parent = document.getElementById('warning-container')
        let child = document.getElementById('warning')
        child.innerText = msg
        parent.classList.remove('scale-out')
        setTimeout(() => {
            parent.classList.add('scale-out')
        }, 3000)
    }

    function loadClient() {
        gapi.client.setApiKey("");
        return gapi.client.load("https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest")
        .then(function() { 
            giveAlert("GAPI client loaded for API"); 
        },
        function(err) { 
            giveAlert("Error loading GAPI client for API"); 
            console.log(err)
        });
    }
    
    function execute(header) {
        console.log("Header received", header)
        console.log(gapi.client.youtube)
        return gapi.client.youtube.videos.list(header)
        .then(function(response) {
            console.log("Response", response);
            renderContent(response.result.items[0].snippet)
        },
        function(err) { 
            giveAlert("Execute error"); 
            console.error(err)
        });
    }

    function logout() {
        localStorage.removeItem("loggedIn")
        window.location.href = '/login'
    }

    window.onload = () => {
        if (!localStorage.getItem("loggedIn")) {
            window.location.href = '/login'
        }
        loadClient()
        // console.log(slug)
        let slug = window.location.href.trim().split("/")[4]
        console.log(slug)
        let header = {
            "part": ["snippet"],
            "id": [slug]
        }
        if (slug) {
            setTimeout(()=>{execute(header)}, 1000)
        }
    }
</script>